* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  border: 2px solid rgb(78, 233, 17);
  border-radius: 10px;
  margin: auto;
  margin-top: 15%;
  width: 300px;
  height: 300px;
  font-size: large;
  background-image: url("../../Images/House.jpeg");
  background-position: -100px -80px;
  image-orientation: 150deg;
  background-clip: clip;
}

#card{
  height: 9em;
  width: 100%;
}
input {
  width: 90%;
  height: 30px;
}

label {
  color: rgb(131, 24, 231);
  padding-bottom: 50px;
  font-weight: 500;
}

.mr-100 {
  border-radius: 12px;
  display: block;
  margin: 20px;
}

@keyframes moveName {
  0% {
    text-orientation: sideways-right;
  }
  25% {
    text-orientation: sideways;
    opacity: 0.01;
  }
  50% {
    /* text-combine-upright: right; */
  }
  100% {
    opacity: 1;
    text-orientation: upright;
  }
}

.Links {
  justify-content: space-around;
  align-items: start;
}

#pdfUpload {
  width: 200px;
  height: 40px;
}

.skill {
  column-gap: 54px;
  position: relative;
  animation: transition 4s linear 0s 1 normal none;
}

.skills, .percentage {
  column-gap: 70px;
  position: relative;
  animation: transition 4s linear 0s 1 normal none;
}

.btight {
  float: right;
  border-radius: 4%;
}

#resumeClick:hover {
  color: rgb(170, 219, 38);
  text-decoration: underline;
}

#resumeClick {
  color: burlywood;
  background: linear-gradient(
    150deg,
    rgb(168, 173, 16) 10%,
    rgb(0, 0, 0) 65%,
    rgba(14, 131, 131, 0.85) 10%
  );
  font-size: 110%;
  text-decoration: none;
  padding: 0 5px 0 5px;
}
.Back {
  background: linear-gradient(
    rgb(93, 17, 235) 30%,
    rgb(8, 170, 175) 55%,
    rgb(12, 219, 81) 5%,
    rgba(57, 21, 124, 0.822) 30%,
    rgb(46, 112, 57) 55%,
    rgb(70, 122, 11) 5%,
    rgba(100, 200, 200, 0.75) 60%
  );
}

.check {
  width: 30px;
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#pwd123 {
  border: none;
  background-color: rgb(6, 6, 50);
  border-radius: 20%;
  color: #fff;
}
.cursor-pointer {
  cursor: pointer;
  width: fit-content;
  align-items: center;
  display: flex;
}
.pwd {
  border: 1px solid rgb(6, 6, 50);
  width: fit-content;
  display: inline-block;
  margin: 20rem auto;
  margin-bottom: 1%;
  color: #fff;
  background-color: rgb(6, 6, 50);
  border-radius: 20%;
}

.Username {
  border: 1px solid rgb(6, 6, 50);
  width: fit-content;
  display: inline-block;
  margin: 20rem auto;
  margin-bottom: 1%;
  color: #fff;
  background-color: rgb(6, 6, 50);
  border-radius: 20%;
}

#getcolor {
  width: 10%;
}

.browsers {
  width: 15%;
  color: #fff;
  background: #3d3c3c;
}

.together {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnChai {
  background: #850305;
}

::selection {
  color: red;
  background-color: #eeb1fa;
}

b {
  position: relative;
  color: #940000;
}
/* ::spelling-error{
  background-color: #04af2f;
} */

.box {
  height: 80px;
  width: 80px;
  border: 2px solid rebeccapurple;
}

#linkedin {
  fill: rgb(20, 52, 102);
}

#instagram {
  fill: rgb(185, 0, 31);
}

.gle {
  scale: 0.8 0.8;
  aspect-ratio: 3/2;
  background-blend-mode: darken;
  background: yellow;
  background-size: cover;
  backface-visibility: hidden;
}

#google {
  height: 30px;
  width: 50px;
  background-image: none;
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
  /* fill: linear-gradient(180deg, rgb(230,100,124) 55%, rgb(40,50,10) 75%, rgba(100,50,32,0.4) 20%); */
}

#tiktok {
  fill: rgb(210, 0, 30);
}

#twitter {
  fill: rgb(11, 130, 177);
}

#facebook {
  fill: rgb(60, 60, 148);
}
.links svg {
  height: 35px;
  width: 25px;
  display: block;
}

.links {
  -webkit-box-reflect: below 5px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  position: relative;
  /* background-image: linear-gradient(90deg,rgb(185, 0, 31) 20%, rgb(56,98,200) 80%); */
  background-size: cover;
  color: transparent;
  /* -webkit-background-clip: text; */
  /* background-clip:text; */
  /* background:yellow; */
}

b::after {
  content: attr(data-content);
  position: absolute;
  color: #240202;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #ff0a0a;
}

.heading {
  position: absolute;
  color: #fff;
  background-color: #161224;
  text-transform: uppercase;
  top: 0;
  margin-top: 0.4em;
  left: 10em;
}

.headingSun {
  color: #161224;
  background-color: #fff;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
  left: 12em;
}

.rays {
  height: 100px;
  width: 100px;
  outline: yellow dashed 4px;
  border-radius: 50%;
  position: absolute;
  /* top:11.6%; */
  top: 41%;
  left: 52em;
}

.moonbg {
  background: #161224;
}

#sunDiv {
  background: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 12px;
}

#moonDiv {
  background: #161224;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 12px;
}

.Sunplanet {
  bottom: 0.6em;
  width: 6em;
  height: 6em;
  background: #f1f502;
  border-radius: 50%;
  box-shadow: 0 0 5em 0 #fed84c80, 0 0 20em 4em #e8a55233,
    0 0 55em 8em #ff4d4d1a;
  position: relative;
}

.Moonplanet {
  bottom: 12em;
  width: 6em;
  height: 6em;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 5em 0 #fed84c80, 0 0 20em 4em #e8a55233,
    0 0 55em 8em #ff4d4d1a;
  position: relative;
}

.satellite,
.satellite::after {
  content: "";
  position: absolute;
  width: 6em;
  height: 6em;
  border-radius: 50%;
}

/* animation : @keyframes duration | easing function | delay |
   iteration-count | direction | fill-mode | play-state | name */
.satellite {
  background: #ffedd1;
  box-shadow: -2em 0 5em -1em #fff;
  overflow: hidden;
  transition: 250ms;
  left: 32em;
  transform: rotate(20deg);
  animation: transition 5s infinite ease-in-out;
}

.satellite::after {
  background: #262938;
  width: 2.5em;
  left: 2.5em;
  box-shadow: 0 0 0.75em 2em #262938;
  animation: shadow 5s infinite ease-in-out;
}

@keyframes shadow {
  0% {
    width: 2.5em;
    left: 0;
  }

  25% {
    width: 5em;
    left: 0;
  }

  50% {
    width: 2.5em;
    left: 2.5em;
  }

  75% {
    width: 0;
    left: 5em;
  }

  80% {
    left: 0;
    box-shadow: 0 0 0.55em 0.75em #262938;
  }

  100% {
    width: 2.5em;
    left: 0;
  }
}
@keyframes stopshadow {
  0%,
  25%,
  50%,
  75%,
  100% {
    width: 6em;
    left: 0;
  }
}

@keyframes round {
  0%,
  100% {
    top: -6em;
    left: -15em;
    box-shadow: -2em 0 5em 0.5em #c6836466;
    z-index: 2;
  }

  25% {
    box-shadow: 0 0 3em 1em #412104b5;
  }

  75% {
    box-shadow: 0 0 3em 1em black;
  }

  48% {
    z-index: 2;
  }

  50% {
    left: 38em;
    top: 15em;
    z-index: 1;
    box-shadow: 2em 0 5em 0.5em #845a4682;
  }

  99% {
    z-index: 1;
  }
}

@keyframes roundSun {
  0%,
  100% {
    top: 0;
    left: -15em;
    box-shadow: -2em 0 5em 0.5em #c6836466;
    z-index: 2;
  }

  25% {
    box-shadow: 0 0 3em 1em #412104b5;
  }

  75% {
    box-shadow: 0 0 3em 1em black;
  }

  48% {
    z-index: 2;
  }

  50% {
    left: 15em;
    top: 0;
    z-index: 1;
    box-shadow: 2em 0 5em 0.5em #845a4682;
  }

  99% {
    z-index: 1;
  }
}
@keyframes transition {
  from {
    top: 0;
    left: -40em;
  }
  to{
    top: 0;
    left: 0;
  }
}

@keyframes stop {
  0%,
  25%,
  50%,
  75%,
  100% {
    left: 0;
    top: 0;
  }
}